@import "src/constants";

.main-drawer-slim {
  width: 50px;
  background-color: $blue1;
  color: $white2;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;

  button {
    height: 50px;
    color: $white2;
  }

  &:hover {
    cursor: pointer;
  }
}

.main-drawer {
  max-width: $main-drawer-width;
  width: $main-drawer-width;
  background-color: $blue1;
  min-height: 100vh;
  overflow-y: auto;
  font-family: $font;

  .close-panel-button {
    color: $white1;
    background-color: $blue1;
    width: 100%;
    display: flex;
    justify-content: center;


    .close-panel-text {
      text-align: justify;
      //width: 100%;
      margin-left: 10px;
      display: flex;
      justify-content: space-evenly;
      font-size: 20px;

      span {
        //text-transform: none;
      }
    }

    &:hover {
      background-color: $blue2;
    }
  }

  .drawer-menu-button {
    width: 100%;
    color: $white1;
    font-size: 24px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 20px;
    text-transform: capitalize;

    &:hover {
      background-color: $blue2;
    }
  }
}


@media screen and (max-width: 600px) {
  .main-drawer {
    max-width: 100vw;
    width: 100vw;
  }
}