@import 'src/constants';

.event-tag {
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 50px;
  margin-left: 5px;
  font-size: 16px;

  &.text {
    background-color: $black1;
    color: $white2;
  }

  &.video {
    background-color: $teal1;
    color: $white2;
  }

  &.audio {
    background-color: $green1;
    color: $black1;
  }

  &.live {
    background-color: $amber1;
    color: $black1;
  }

  &.photo {
    background-color: $red1;
    color: $white2;
  }

  &.editor {
    background-color: $blue1;
    color: $white2;
  }

  &.small {
    display: none;
    width: 25px;
    min-width: 25px;
    margin-bottom: 5px;
  }

  &.big {
    display: flex;
  }
}

.event-wrapper {
  margin: 5px 0;
  display: flex;

  .event-export-control {
    display: flex;
    align-items: center;
    justify-content: center;

    .Mui-checked {
      .MuiSvgIcon-root {
        color: $blue1 !important;
      }
    }
  }

  .event-icons {
    display: flex;

    .event-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 10px;
      padding: 5px;
      border-radius: 35%;

      &:hover {
        color: $white1;
        background-color: $blue2;
        cursor: pointer;
      }

      &.restore {
        color: $green1;
        &:hover {
          color: $white1;
          background-color: $green1;
        }
      }

      &.hard-remove {
        color: $red1;

        &:hover {
          color: $white1;
          background-color: $red1;
        }

        &.disabled {
          color: $grey1;
          background-color: inherit;
          cursor: default;
        }
      }

      &.disabled {
        color: $grey1;
        background-color: inherit;
        cursor: default;
      }
    }
  }

  .event-accordion {
    width: 100%;
    user-select: text;

    .event-summary-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      flex-direction: row-reverse;
      user-select: text;

      .event-text-wrapper {
        display: flex;
        align-items: center;
        font-weight: bold;
        user-select: text;
        ::selection {
          background-color: $grey1;
        }

        .event-time {
          margin-right: 10px;
          color: $blue2;
          user-select: text;
          ::selection {
            background-color: $grey1;
          }

          &.no-time {
            margin-right: 0;
          }
        }

        .added-today {
          background-color: $green1;
          display: flex;
          align-items: center;
          justify-content: center;
          min-height: 25px;
          color: $black1;
          margin-left: 10px;
          border: 1px solid $black1;
          border-radius: 5px;
          padding: 1px;
          box-sizing: border-box;

          user-select: text;
          ::selection {
            background-color: $grey1;
          }
        }

        .deleted-today {
          background-color: $red1;
          display: flex;
          align-items: center;
          justify-content: center;
          min-height: 25px;
          color: $white1;
          margin-left: 10px;
          border: 1px solid $black1;
          border-radius: 5px;
          padding: 1px;
          box-sizing: border-box;

          user-select: text;
          ::selection {
            background-color: $grey1;
          }
        }
      }

      .event-tags {
        display: flex;
        user-select: text;
        ::selection {
          background-color: $grey1;
        }
      }
    }

    &:hover {
      .MuiButtonBase-root {
        background-color: $blue2;
      }

      .MuiAccordion-region {
        background-color: $blue3;
      }

      .event-text-wrapper {
        color: $white2;

        .event-time {
          color: $white2;
        }
      }
    }

    .MuiAccordion-region {
      background-color: $blue4;
    }

    .event-content {
      &:first-child {
        user-select: text;

        ::selection {
          background-color: $grey1;
        }
      }

    }
  }
}

@media screen and (max-width: 600px) {
  .event-wrapper {
    .event-accordion {
      .event-summary-wrapper {
        flex-wrap: wrap;
        flex-flow: wrap;
        flex-direction: row;

        .event-tags {
          width: 100%;

          .event-tag {
            &.small {
              display: flex;
            }

            &.big {
              display: none;
            }
          }
        }
      }
    }

  }
}