@import "src/constants";

.event-container {
  .event-container-headline {
    font-size: 1.5em;
    color: $blue1;
    margin-bottom: 20px;

    .headline-date {
      font-weight: bold;
    }

    .headline-events-number {
      font-style: italic;
      font-size: 0.75em;
      color: $grey1;
    }
  }

  .events-controls {
    display: block;

    .Mui-checked {
      .MuiSwitch-thumb  {
        &.css-jsexje-MuiSwitch-thumb {
          color: $blue1 !important;
        }
      }
    }

    .events-search-bar {
      width: 100%;
    }

    .add-button-wrapper {
      .MuiButtonBase-root {
        background-color: $blue1;
        color: $white1;

        &:hover {
          background-color: $blue2;
        }
      }
    }

  }

  .loader {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;

    span {
      margin-left: 20px;
      font-size: 20px;
      color: $blue1;
    }
  }

  .active-filters {
    .active-filters-message {
      color: $blue2;
      font-weight: bold;
      font-size: 1rem;
    }
    .active-filters-group {
      display: flex;
      width: 100%;

      .active-filter-item-group {
        width: 80px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-weight: bold;
        font-size: 1rem;
      }

      .active-filter-item {
        justify-content: flex-start;
        color: $blue2;
        font-size: 0.8rem;
      }
    }
  }
}

.daily-plan-modal {
  .daily-plan-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;

    .t-button {
      min-width: 150px;
      border: 1px solid $blue1;

      &.primary {
        background-color: $blue1;
        color: $white1;
      }
    }
  }

  .daily-plan-info {
    font-style: italic;
    margin: 10px 0;

    .daily-plan-info-item-label {
      font-weight: bold;
    }
  }

  .daily-plan-content {
    min-width: 600px;

    textarea {
      width: calc(100% - 20px);
      padding: 10px;
      overflow-x: hidden;
      overflow-y: auto !important;
      height: auto !important;
    }
  }
}

#daily-plan-button {
  margin: 10px 0;
  min-width: 150px;
  background-color: $blue1;
  color: $white1;
}

@media screen and (max-width: 600px) {
  .main-content {
    .event-container {
      .events-controls {
        label {
          display: block;
          padding-left: 20px;
          width: calc(100% - 20px);
        }

        .events-search-bar {
          label {
            padding-left: 0;
          }
        }
      }
    }
  }

  .daily-plan-modal {
    min-width: 100%;
    width: 100%;
    max-height: 100vh;
    overflow-y: auto;

    .daily-plan-content {
      min-width: 100%;
      width: 100%;
      max-height: 500px;
      overflow-y: auto;

      textarea {
        box-sizing: border-box;
        width: 100%;
      }
    }
  }

}