@import "src/constants";

.settings-page {
  .settings-page-container {
    h2 {
      color: $blue1;
    }
    .settings-page-buttons {
      display: flex;
      width: 100%;
      flex-direction: row-reverse;

      .back-button {
        width: 200px;
        background-color: $blue1;
        color: $white1;

        &:hover {
          background-color: $blue2;
        }
      }
    }
  }
}